body {
    background-color: #3b3b3b;
    color: #ffffff;
}

@font-face {
    font-family: weatherIcons;
    src: url(weather_icons/weathericons-regular-webfont.ttf);
}

#main {
    text-align: center;
}

#weather {
    background-color: #d7d7d7;

    color: #000000;

    display: inline-block;
    min-width: 500px;

    border-style: solid;
    border-color: #000000;
    border-radius: 10px;
    border-width: 4px;
    border-bottom-width: 0px;
}

#internal {
    display: flex;
    position: relative;
}

#icon {
    font-family: weatherIcons;
    font-size: 80px;

    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    width: auto;
    float: left;
}

#contents {
    float: left;
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    padding: 10px 10px 10px 10px;
}

#current {
    height: 100%;
    float: left;
}

#name {
    font-family: monospace;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;

    position: relative;
}

#coords {
    font-family: monospace;
    font-size: 10px;
    white-space: nowrap;
    text-align: left;

    position: relative;
}

#temp {
    font-family: monospace;
    font-size: 72px;
    text-align: left;

    position: relative;
    bottom: -10px;
}

#misc {
    position: relative;
    height: 100%;
    max-width: 50%;
    float: right;
    padding-left: 20px;

    font-family: monospace;
    font-size: 12px;
}

#pressureLabel {
    text-align: left;

    float: left;
    clear: left;
    width: 75px;
}

#pressure {
    text-align: right;

    float: right;
    clear: right;
}

#humidLabel {
    text-align: left;

    float: left;
    clear: left;
    width: 75px;
}

#humid {
    text-align: right;

    float: right;
    clear: right;
}

#windLabel {
    text-align: left;

    float: left;
    clear: left;
    width: 75px;
}

#wind {
    text-align: right;

    float: right;
    clear: right;
}

#windIcon {
    font-family: weatherIcons;
    font-size: 40px;
    text-align: right;

    float: right;
    clear: both;
}

#time {
    font-family: monospace;
    font-size: 8px;

    position: absolute;
    clear: both;
    bottom: 0px;
    right: 10px;
}

#future {
    background-color: #d7d7d7;

    font-family: monospace;

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 4px;

    display: table;
    position: relative;
    left: -4px;
    height: 70px;
    width: 100%;
}

div.daysInt {
    border-style: solid;
    border-color: #000000;
    border-width: 0px;
    border-left-width: 2px;
    border-right-width: 2px;

    height: 100%;
    width: 20%;
    display: table-cell;
}

#day1 {
    border-style: solid;
    border-color: #000000;
    border-width: 0px;
    border-right-width: 2px;

    height: 100%;
    width: 20%;
    display: table-cell;
}

#day5 {
    border-style: solid;
    border-color: #000000;
    border-width: 0px;
    border-left-width: 2px;
    border-bottom-right-radius: 10px;

    height: 100%;
    width: 20%;
    display: table-cell;
}

div.dayIcons {
    font-family: weatherIcons;
    font-size: 30px;

    float: left;
    padding: 5px 5px 5px 5px;
}

div.dayHighs {
    font-size: 30px;

    float: right;
    padding: 5px 5px 0px 5px;
}

div.dayLows {
    font-size: 12px;
    text-align: right;

    padding: 0px 5px 0px 0px;
}

div.dayDates {
    position: absolute;
    bottom: 0px;
    width: 20%;
}
