body {
    background-image: url("../background.jpeg");
    color: #ffffff;
}

.cur-day-info {
    font-size: 0.9vw;
    line-height: 110%;
}

.cur-day-info-min {
    font-size: 0.7vw;
    line-height: 120%;
}

.daily-date {
  font-size: 0.8vw;
}

.day-icon {
    font-size: 2vw;
    padding-left: 5px;
}

.day-int {
    border-style: solid;
    border-width: 2px 1px 0px 1px;
    padding-top: 5px;
}

.day-left {
    border-style: solid;
    border-width: 2px 1px 0px 0px;
    padding-top: 5px;
}

.day-right {
    border-style: solid;
    border-width: 2px 0px 0px 1px;
    padding-top: 5px;
}

.day-temp {
    font-size: 1vw;
    line-height: 110%;
    padding-right: 5px;
}

.high {
    font-weight: bold;
}

.low {
    font-weight: lighter;
}

.widget-ext {
    padding-top: 15px;
    padding-bottom: 15px;
}

.widget-int {
    background-color: #303030c0;
}

.widget-title {
    font-size: 1.5vw;
    line-height: 100%;
    font-weight: bold;
}

.widget-main {
    font-size: 5vw;
}

#cur-temp {
    font-size: 3vw;
    line-height: 110%;
}

#cur-wind-icon {
    font-size: 1.2vw;
}
