body {
    background-image: url("../background.jpeg");
    color: #ffffff;
}

.cur-day-info {
    font-size: 2.0vw;
    line-height: 110%;
}

.cur-day-info-min {
    font-size: 1.3vw;
    line-height: 120%;
}

.daily-date {
    font-size: 1.8vw;
}

.day-icon {
    font-size: 4.0vw;
    padding-left: 5px;
}

.day-int {
    border-style: solid;
    border-width: 2px 1px 0px 1px;
    padding-top: 5px;
}

.day-left {
    border-style: solid;
    border-width: 2px 1px 0px 0px;
    padding-top: 5px;
}

.day-right {
    border-style: solid;
    border-width: 2px 0px 0px 1px;
    padding-top: 5px;
}

.day-temp {
    font-size: 2.8vw;
    line-height: 110%;
    padding-right: 5px;
}

.high {
    font-weight: bold;
}

.low {
    font-weight: lighter;
}

.widget-ext {
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.widget-int {
    background-color: #303030c0;
}

.widget-title {
    font-size: 3.4vw;
    line-height: 100%;
    font-weight: bold;
}

.widget-main {
    font-size: 10vw;
    line-height: 120%;
}

.widget-sub {
    font-size: 7vw;
    line-height: 110%;
}

#current-weather {
    padding-top: 5px;
    padding-right: 15px;
}

#cur-wind-icon {
    font-size: 2.8vw;
}

#eth-top {
    padding-top: 10px;
}

@media (min-width: 768px) {
    .cur-day-info {
        font-size: 1.2vw;
    }

    .cur-day-info-min {
        font-size: 0.8vw;
    }

    .daily-date {
        font-size: 1.0vw;
    }

    .day-icon {
        font-size: 2.7vw;
    }

    .day-temp {
        font-size: 1.5vw;
    }

    .widget-main {
        font-size: 6vw;
    }

    .widget-title {
        font-size: 1.8vw;
    }

    .widget-sub {
        font-size: 4vw;
    }

    #cur-wind-icon {
        font-size: 1.6vw;
    }
}

@media (min-width: 1400px) {
    .cur-day-info {
        font-size: 0.9vw;
    }

    .cur-day-info-min {
        font-size: 0.7vw;
    }

    .daily-date {
        font-size: 0.8vw;
    }

    .day-icon {
        font-size: 2vw;
    }

    .day-temp {
        font-size: 1vw;
    }

    .widget-main {
        font-size: 5vw;
    }
    
    .widget-title {
        font-size: 1.4vw;
    }

    .widget-sub {
        font-size: 3vw;
    }

    #cur-wind-icon {
        font-size: 1.2vw;
    }
}
